<!-- 留言板 -->

<div id = "main">
  <div>
    <h3 style="text-align: center; padding-top: 30px;">留言板</h3>
  </div>

  <div style="max-width: 700px; margin: auto;">
  <hr>
    <div class="logged-in">
      <form id="comment" style="padding-left: 25px; padding-right: 25px;">
        <h3 style="text-align: center; padding-top: 60px; padding-bottom: 10px;">留個言ㄅ</h3>
        <div class="row" style="margin-top: 10px;">
          <div class="9u" style="padding-left: 5px; padding-right: 5px;">
            <input id="message" type="text" name="message" style=" padding: 10px; margin-top: 10px;" placeholder="想說什麼">
          </div>
          <div class="3u" style="text-align-last: center;">
            <button type="submit" style="font-size: 20px; padding: 10px; margin-top: 10px;">送出</button>
          </div>
        </div>
      </form>
    </div>
    <div class="logged-out">
      <h4 style="text-align: center; padding-top: 60px; padding-bottom: 10px;">登入殼以留言哦</h4>
    </div>
  <div class="comments"><h4 class="nocomments" style="text-align: center; padding-top: 20px;">尚無留言</h4></div>

  </div>
</div>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-functions.js"></script>

<script>
		  // Initialize Firebase
		  var firebaseConfig = {
		  apiKey: "AIzaSyCClEanlAW2spOZGMd5EYfwhSkNj_Piz5Y",
		  authDomain: "jack34672-f6932.firebaseapp.com",
		  databaseURL: "https://jack34672-f6932.firebaseio.com",
		  projectId: "jack34672-f6932",
		};
      firebase.initializeApp(firebaseConfig);
      
      const logout = document.querySelector('#logout');
      logout.addEventListener('click', (e) => {
          e.preventDefault();
          auth.signOut();
          console.log('signout')
          location.replace("https://jtchen0528.github.io/blog")
      });

      const loggedOutLinks = document.querySelectorAll('.logged-out');
      const loggedInLinks = document.querySelectorAll('.logged-in');
      const accountDetails = document.querySelector('.account-details');
      const titleDetails = document.querySelector('.title-details');
		  firebase.auth().onAuthStateChanged(user =>{
        if(user){
            //console.log('user logged in: ', user);
            user.getIdTokenResult().then(idTokenResult => {
                user.admin = idTokenResult.claims.admin;
                loggedInLinks.forEach(item => item.style.display = 'block');
                loggedOutLinks.forEach(item => item.style.display = 'none');

                // account info
                db.collection('users').doc(user.uid).get().then(doc => {
                  const html = `
                    <h1 id="title">${doc.data().user}</h1>
                    <p>${user.email}</p>
                    <p style="color: pink;">${user.admin ? '管理員' : '一般用戶'}</p>
                  `;
                  accountDetails.innerHTML = html;
                  const html2 = `
                    <h2 style="text-align: center; color: white;">
                      ${doc.data().user}，歡迎回來
                    </h2>
                  `;
                  titleDetails.innerHTML = html2;
                })
            })
        } else { 
            //console.log('user logged out.');
            loggedOutLinks.forEach(item => item.style.display = 'block');
            loggedInLinks.forEach(item => item.style.display = 'none');
            accountDetails.innerHTML = `<h1 id="title" href="/">Jack's Blog</h1><p>@jtchen0528</p>`;
            titleDetails.innerHTML = ``;
        }
    })
		</script>
<script src="assets/js/auth.js"></script>
<script src="assets/js/index.js"></script>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script> 
<script> $(".click").click(function(){ $(".expand").slideToggle(); }); </script>

<script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.1.0/js/md5.js"></script>
<script>

$(function() {
  var ref = new Firebase("https://jack34672-f6932.firebaseio.com/"),
    postRef = ref.child(slugify(window.location.pathname));
    var commentnum = 0;
    postRef.on("child_added", function(snapshot) {
      var newPost = snapshot.val();
      $(".comments").prepend('<div class="comment" style="max-width: 400px; margin: auto;">' +
          '<div class="row">'+
          '<div class="4u" style="padding: 0px;">' + 
          '<img src="https://avatars.dicebear.com/api/initials/' + escapeHtml(newPost.md5Email) + '.svg" style="width: 80px; border-radius: 10px; height: auto; margin-left: 30px;"/> ' + 
          '</div>'+
          '<div class="8u" style="padding: 0px;">' + 
            '<h4 style="padding-top: 10px; text-align:center; display: inline;">' + escapeHtml(newPost.name) + '</h4>' +
            '<h5 class="date" style="text-align:center; display: inline; padding-top: 10px; padding-left: 5px;">(' + moment(newPost.postedAt).fromNow() + ')</h5>'+ 
            '<h4 style="padding-top: 10px; display: inline;">：</h4>' +
          '<p style=" margin-bottom: 0px; font-size: 1.35em;">' + escapeHtml(newPost.message)  + '</p>' +
          '</div></div></div>');
      if(commentnum==0){
        $(".nocomments").remove();
      }
            commentnum++;
    });

    $("#comment").submit(function() {
      if($("#message").val()!=''){
        const user =  firebase.auth().currentUser;
        db.collection('users').doc(user.uid).get().then(doc => {
          $.post('https://script.google.com/macros/s/AKfycbzNV6XM5rSNEWYgt22-3r5kwHCyKE9WToFMND47cPnTyRBZIasI/exec',
            {msg: doc.data().user + ' 回覆了你在 ' + window.location.pathname + ' 的貼文，留言內容：' + $("#message").val()},
            function(e){
              console.log(e);
          });
          var a = postRef.push();
          a.set({
            name: doc.data().user,
            message: $("#message").val(),
            md5Email: doc.data().user,
            postedAt: Firebase.ServerValue.TIMESTAMP
          });
          $("input[type=text], textarea").val("");
          
        });
      }

      return false;

    });
});

function slugify(text) {
  return text.toString().toLowerCase().trim()
    .replace(/&/g, '-and-')
    .replace(/[\s\W-]+/g, '-')
    .replace(/[^a-zA-Z0-9-_]+/g,'');
}


function escapeHtml(str) {
    var div = document.createElement('div');
    div.appendChild(document.createTextNode(str));
    return div.innerHTML;
}

</script>

<!-- 留言板 -->