<!-- Logo -->
<div id="logo">
  <a href="{{- '/' | absolute_url -}}" id="home-link">
    <span class="image avatar48"><img src="{{- site.avatar | relative_url -}}" alt="{{- site.author | default: 'unknown author' | prepend: 'Avatar of ' -}}" /></span>
    <h1 id="title">{{- site.title -}}</h1>
    <p>{{- site.subtitle -}}</p>
  </a>
</div>
<div id="modal-account">
  <div class="modal-content center-align">
    <h4>Account details</h4><br />
    <div class="account-details"></div>
    <div class="account-extras"></div>
  </div>
</div>