<!-- Logo -->
<div id="logo">
  <a id="home-link">
    <a href="{{- '/' | absolute_url -}}">
      <span class="image avatar48"><img  src="{{- site.avatar | relative_url -}}" alt="{{- site.author | default: 'unknown author' | prepend: 'Avatar of ' -}}" /></span>
    </a>
    <div class="account-details"></div>
    <div class="logged-in" style = "display: none; padding: 8px 15px; margin-top: 15px;">
      <a id="logout">登出</a>
    </div>
    <div class="logged-out" style = "display: none; padding: 8px 15px; margin-top: 15px;">
      <button id="login" onclick="location.href='/blog/login'">登入</button>
    </div>
  </a>
</div>