<!-- Logo -->
<div id="logo">
  <a href="{{- '/' | absolute_url -}}" id="home-link">
    <span class="image avatar48"><img src="{{- site.avatar | relative_url -}}" alt="{{- site.author | default: 'unknown author' | prepend: 'Avatar of ' -}}" /></span>
    <div class="account-details"><h1 id="title">{{- site.title -}}</h1></div>
    <div class="logged-in" style = "display: none">
      <button id="logout">登出</button>
    </div>
    <div class="logged-out" style = "display: none">
      <button id="login" onclick="location.href='/login'">登出</button>
    </div>
  </a>
</div>